* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.password-manager-bg-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100vh;
  background-size: cover;
  width: 60vw;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.appLogo {
  height: 50px;
}

.password-manager-container {
  background-color: #5763a5;
  border-radius: 5px;
  padding: 20px;
  height: 320px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  width: 80px;
  padding: 6px;
  margin-right: 29px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.show-password {
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 15px;
}

.add-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.password-manager-image {
  height: 250px;
  margin-right: 20px;
}

.add-password-container {
  background-color: #454f84;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
}

.add-password-heading {
  color: #f8fafc;
  font-size: 20px;
  font-family: 'Roboto';
}

.input-field-logo {
  height: 20px;
  margin-top: 6px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.input-field-logo-container {
  background-color: #f8fafc;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-field-container {
  display: flex;
  width: 250px;
  height: 35px;
  margin-bottom: 20px;
}

.inputField {
  background-color: #f8fafc;
  width: 230px;
  height: 35px;
  outline: none;
  border: none;
  border-left: 1px solid #64748b;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.your-password-container {
  background-color: #5763a5;
  border-radius: 5px;
  min-height: 300px;
  margin-top: 10px;
  padding: 20px;
}

.your-password-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  height: 35px;
}

.search-container {
  height: 30px;
  border: none;
  outline: none;
  border-left: 1px solid;
}

.your-password-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-self: center;
}

.search-image {
  height: 20px;
  text-align: center;
  padding: 3px;
  margin-top: 5px;
  /* margin-left: 3px; */
  padding-left: 10px;
  margin-right: 10px;
}

.search-field-container {
  background-color: #f8fafc;
  display: flex;
  width: 230px;
  height: 30px;
  border-radius: 5px;
}

.showPassword-container {
  display: flex;
  justify-content: flex-end;
}

.label-heading {
  font-family: 'Roboto';
  color: #f8fafc;
  font-weight: 500;
  /* text-align: center; */
}

.no-password-image {
  height: 150px;
  text-align: center;
}

.no-password-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-password-heading {
  font-family: 'Roboto';
  font-weight: bold;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .password-manager-bg-container {
    width: 100vw;
  }
}

@media screen and (max-width: 576px) {
  .password-manager-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.eachPassword-container {
  border: 2px solid #64748b;
  width: 250px;
  height: 100px;
  line-height: 0.6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  list-style-type: none;
  margin-right: 15px;
  margin-bottom: 10px;
}

.details {
  font-family: 'Roboto';
  font-size: 10px;
  color: #ffffff;
  font-weight: bold;
}

.stars-image {
  height: 10px;
}

.delete-image {
  height: 25px;
  margin-left: 20px;
}

.username-title {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  background-color: #10b981;
  margin-right: 20px;
  color: #f8fafc;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 10px; */
}

.count-field {
  margin-left: 10px;
  color: #f8fafc;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 25px;
  /* height: 20px; */
  /* padding: 3px; */
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
